<h3>{{title}}</h3>

@if (users.length == 0) {
    <div class="alert alert-warning">No hay registros en el sistema</div>
} @else {
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>lastName</th>
                <th>email</th>
                <th>userName</th>
            </tr>
        </thead>
        <tbody>
            @for (user of users; track $index) {
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.userName}}</td>
                </tr>
            }
        </tbody>
    </table>
}
